In [1]:
import csv

In [2]:
iris_filename = 'iris.csv'
with open(iris_filename, 'rt') as data_stream:
    #'rt' mode
    for n, row in enumerate(csv.DictReader(data_stream, fieldnames = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'], dialect='excel')):
        if n == 0:
            print(n, row)
        else:
            break

0 {'target': 'Iris-setosa', 'sepal_length': '5.1', 'petal_width': '0.2', 'petal_length': '1.4', 'sepal_width': '3.5'}

In [3]:
with open(iris_filename, 'rt') as data_stream:
    for n, row in enumerate(csv.reader(data_stream, dialect='excel')):
        if n == 0:
            print(n, row)
        else:
            break

0 ['5.1', '3.5', '1.4', '0.2', 'Iris-setosa']

In [4]:
def batch_read(filename, batch=5):
    #open the data stream
    with open(filename, 'rt') as data_stream:
        #reset the batch
        batch_output = list()
        #iterate over the file
        for n, row in enumerate(csv.reader(data_stream, dialect='excel')):
            #if the batch is of the right size
            if n > 0 and n % batch == 0:
                #yield back the batch as an ndarray
                yield(np.array(batch_output))
                #reset the batch and restart
                batch_output = list()
            #otherwise add the row to  the batch
            batch_output.append(row)
        #when the loop is over, yield what's
        leftyield(np.array(batch_output))

In [5]:
import numpy as np
for batch_input in batch_read(iris_filename, batch=3):
    print(batch_input)
    break

[['5.1' '3.5' '1.4' '0.2' 'Iris-setosa']
 ['4.9' '3.0' '1.4' '0.2' 'Iris-setosa']
 ['4.7' '3.2' '1.3' '0.2' 'Iris-setosa']]

In [6]:
import pandas as pd
my_own_dataset = pd.DataFrame({'Col1': range(5), 'Col2':[1.0]*5, 'Col3':1.0, 'Col4':'Hello World!'})
my_own_dataset

   Col1  Col2  Col3          Col4
0     0   1.0   1.0  Hello World!
1     1   1.0   1.0  Hello World!
2     2   1.0   1.0  Hello World!
3     3   1.0   1.0  Hello World!
4     4   1.0   1.0  Hello World!

In [7]:
my_own_dataset.dtypes

Col1      int64
Col2    float64
Col3    float64
Col4     object
dtype: object

In [9]:
my_own_dataset['Col1']=my_own_dataset['Col1'].astype(float)
my_own_dataset.dtypes

Col1    float64
Col2    float64
Col3    float64
Col4     object
Col     float64
dtype: object

In [15]:
iris = pd.read_csv(iris_filename, sep=',', decimal='.', header=None, names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'])
mask_feature = iris['sepal_length'] > 6.0
mask_feature

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
120     True
121    False
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138    False
139     True
140     True
141     True
142    False
143     True
144     True
145     True
146     True
147     True
148     True
149    False
Name: sepal_length, Length: 150, dtype: bool

In [17]:
mask_target = iris['target'] == 'Iris-virginica'
iris.loc[mask_target,'target'] = 'New label'

     sepal_length  sepal_width  petal_length  petal_width       target
0             5.1          3.5           1.4          0.2  Iris-setosa
1             4.9          3.0           1.4          0.2  Iris-setosa
2             4.7          3.2           1.3          0.2  Iris-setosa
3             4.6          3.1           1.5          0.2  Iris-setosa
4             5.0          3.6           1.4          0.2  Iris-setosa
5             5.4          3.9           1.7          0.4  Iris-setosa
6             4.6          3.4           1.4          0.3  Iris-setosa
7             5.0          3.4           1.5          0.2  Iris-setosa
8             4.4          2.9           1.4          0.2  Iris-setosa
9             4.9          3.1           1.5          0.1  Iris-setosa
10            5.4          3.7           1.5          0.2  Iris-setosa
11            4.8          3.4           1.6          0.2  Iris-setosa
12            4.8          3.0           1.4          0.1  Iris-setosa
13            4.3          3.0           1.1          0.1  Iris-setosa
14            5.8          4.0           1.2          0.2  Iris-setosa
15            5.7          4.4           1.5          0.4  Iris-setosa
16            5.4          3.9           1.3          0.4  Iris-setosa
17            5.1          3.5           1.4          0.3  Iris-setosa
18            5.7          3.8           1.7          0.3  Iris-setosa
19            5.1          3.8           1.5          0.3  Iris-setosa
20            5.4          3.4           1.7          0.2  Iris-setosa
21            5.1          3.7           1.5          0.4  Iris-setosa
22            4.6          3.6           1.0          0.2  Iris-setosa
23            5.1          3.3           1.7          0.5  Iris-setosa
24            4.8          3.4           1.9          0.2  Iris-setosa
25            5.0          3.0           1.6          0.2  Iris-setosa
26            5.0          3.4           1.6          0.4  Iris-setosa
27            5.2          3.5           1.5          0.2  Iris-setosa
28            5.2          3.4           1.4          0.2  Iris-setosa
29            4.7          3.2           1.6          0.2  Iris-setosa
..            ...          ...           ...          ...          ...
120           6.9          3.2           5.7          2.3    New label
121           5.6          2.8           4.9          2.0    New label
122           7.7          2.8           6.7          2.0    New label
123           6.3          2.7           4.9          1.8    New label
124           6.7          3.3           5.7          2.1    New label
125           7.2          3.2           6.0          1.8    New label
126           6.2          2.8           4.8          1.8    New label
127           6.1          3.0           4.9          1.8    New label
128           6.4          2.8           5.6          2.1    New label
129           7.2          3.0           5.8          1.6    New label
130           7.4          2.8           6.1          1.9    New label
131           7.9          3.8           6.4          2.0    New label
132           6.4          2.8           5.6          2.2    New label
133           6.3          2.8           5.1          1.5    New label
134           6.1          2.6           5.6          1.4    New label
135           7.7          3.0           6.1          2.3    New label
136           6.3          3.4           5.6          2.4    New label
137           6.4          3.1           5.5          1.8    New label
138           6.0          3.0           4.8          1.8    New label
139           6.9          3.1           5.4          2.1    New label
140           6.7          3.1           5.6          2.4    New label
141           6.9          3.1           5.1          2.3    New label
142           5.8          2.7           5.1          1.9    New label
143           6.8          3.2           5.9          2.3    New label
144           6.7          3.3           5.7          2.5    New label
145           6.7          3.0           5.2          2.3    New label
146           6.3          2.5           5.0          1.9    New label
147           6.5          3.0           5.2          2.0    New label
148           6.2          3.4           5.4          2.3    New label
149           5.9          3.0           5.1          1.8    New label

[150 rows x 5 columns]

In [19]:
iris['target'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'New label'], dtype=object)

In [20]:
grouped_targets_mean = iris.groupby(['target']).mean()
grouped_targets_mean

                 sepal_length  sepal_width  petal_length  petal_width
target
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
New label               6.588        2.974         5.552        2.026

In [21]:
grouped_targets_var = iris.groupby(['target']).var()
grouped_targets_var

                 sepal_length  sepal_width  petal_length  petal_width
target
Iris-setosa          0.124249     0.145180      0.030106     0.011494
Iris-versicolor      0.266433     0.098469      0.220816     0.039106
New label            0.404343     0.104004      0.304588     0.075433

In [23]:
iris.sort_values(by='sepal_length').head()

    sepal_length  sepal_width  petal_length  petal_width       target
13           4.3          3.0           1.1          0.1  Iris-setosa
42           4.4          3.2           1.3          0.2  Iris-setosa
38           4.4          3.0           1.3          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
41           4.5          2.3           1.3          0.3  Iris-setosa

In [24]:
smooth_time_series = pd.rolling_mean(time_series, 5)
median_time_series = pd.rolling_median(time_series, 5)

NameError: name 'time_series' is not defined

In [25]:
iris.apply(np.count_nonzero, axis=1).head()

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [26]:
iris.apply(np.count_nonzero, axis=0)

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
target          150
dtype: int64

In [27]:
iris.applymap(lambda el:len(str(el))).head()

   sepal_length  sepal_width  petal_length  petal_width  target
0             3            3             3            3      11
1             3            3             3            3      11
2             3            3             3            3      11
3             3            3             3            3      11
4             3            3             3            3      11