In [4]:
import pandas as pd
categorical_feature = pd.Series(['sunny','cloudy','snowy','rainy','foggy'])
mapping = pd.get_dummies(categorical_feature)
mapping

   cloudy  foggy  rainy  snowy  sunny
0       0      0      0      0      1
1       1      0      0      0      0
2       0      0      0      1      0
3       0      0      1      0      0
4       0      1      0      0      0

In [5]:
mapping['sunny']
mapping['cloudy']

0    0
1    1
2    0
3    0
4    0
Name: cloudy, dtype: uint8

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
ohe = OneHotEncoder()
levels = ['sunny', 'cloudy', 'snowy', 'rainy', 'foggy']
fit_levs = le.fit_transform(levels)
ohe.fit([[fit_levs[0]], [fit_levs[1]], [fit_levs[2]], [fit_levs[3]], [fit_levs[4]]])
print (ohe.transform([le.transform(['sunny'])]).toarray())
print (ohe.transform([le.transform(['cloudy'])]).toarray())

[[0. 0. 0. 0. 1.]]
[[1. 0. 0. 0. 0.]]

array([4, 0, 3, 2, 1], dtype=int32)